<div>
    <div  style="text-align: center;">
    <h2>Users list</h2>
    </div>
    <table>
    <tr>
        <td> Name </td>
        <td> Email </td>
        <td> Role </td>
        <td colspan="2">Actions</td>
    </tr>
    {{#each users}}
    <tr class="product">
        <td class="title">{{this.first_name}}  {{this.last_name}}</td>
        <td>  {{this.email}}   </td>
        <td>  {{this.role}}   </td>
        <td><form method="POST" action="/api/users/premium/{{this._id}}"> <button>Update Role</button></form> </td>
        <td><form method="POST" action="/api/users/{{this._id}}?_method=DELETE">
            <button>
              Delete User
            </button></form></td>
    </tr>
{{/each}}
</table>
</div>
